@import 'tailwindcss';
@import './variables';
@import './mixins';

@font-face {
  font-family: 'JetBrains';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff') format('woff');
}

[data-theme='dark'] {
  background-color: $dark;
  color: $light;

  a {
    color: $light;
  }
}

[data-theme='light'] {
  background-color: $light;
  color: $dark;

  a {
    color: $gray;
  }
}

body {
  font-family: 'JetBrains';
  font-size: 14px;
  color: $gray;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
h2 {
  font-family: 'Poppins', monospace;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
