@import 'tailwindcss';
@import './variables';
@import './mixins';

@font-face {
  font-family: 'JetBrains';
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'PresStart';
  src: url('../fonts/PressStart2P-Regular.woff') format('woff');
}

[data-theme='dark'] {
  background-color: $darkBg;
  color: $white;
  a,
  .form__btn {
    color: $white;
  }
  .project__stack-item {
    color: $black;
  }
  .project__item,
  .welcome__wrapper,
  .filter__item,
  .form__input {
    box-shadow: $darkShadow;
    border-color: $darkBorder;
  }
  .welcome__nav {
    border-top-color: $darkBorder;
  }
  .welcome__nav .nav__item:nth-child(2) {
    border-left-color: $darkBorder;
    border-right-color: $darkBorder;
  }
}
[data-theme='light'] {
  background-color: $white;
  color: $darkBg;
  a {
    color: $grayBase;
  }
  .welcome__wrapper {
    box-shadow: $lightShadow;
    border-color: $lightBorder;
  }
}
body {
  font-family: 'JetBrains';
  font-size: 14px;
  color: $grayBase;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
h1,
h2 {
  font-family: 'PresStart';
  text-transform: uppercase;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
